{% extends 'base.html' %}

{% block title %}Login :: {{ block.super }}{% endblock %}

{% block content %}

<h2>Select a service to login and start tagging!</h2>
<p>Choose from the list of providers below to create an account. We promise we won't push any information to your social networks—we just need to verify that you're a real person. If you sign in with Twitter, we'll also need an email address or phone number just in case we need to ask you about one of your tags.</p>

<h3>Connect with Facebook, Twitter, Google, or Yahoo.</h3>
<ul id="signUp">
    <li>
        <a href="{% url socialauth_begin 'facebook' %}" id="facebook" title="facebook">Connect with Facebook</a>
    </li>
    <li>
        <a href="{% url socialauth_begin 'twitter' %}" id="twitter" title="twitter">Connect with Twitter</a>
    </li>
    <li>
        <a href="{% url socialauth_begin 'google' %}" id="google" title="google+">Connect with Google+</a>
    </li>
    <li>
        <a href="{% url socialauth_begin 'yahoo' %}" id="yahoo" title="yahoo">Connect with Yahoo!</a>
    </li>
</ul>
<div class="clear"></div>
{% endblock content %}