{% extends "base.html" %}
{% load photo_tags media markup %}

{% block contentwrapid %}main_2col{% endblock %}
{% block contentid %}main_column-wrapper{% endblock %}
{% block contentclass %}float_2col{% endblock %}
{% block bodyclass %}home main{% endblock %}

{% block content %}
<div id="feature">
    <a href="{% url hearing_list %}"><img src="{% media_url "/images/img_feature.jpg"  %}"/></a>
    <div id="featureOverlay">
        <h2 class="replace">Help us find out who's watching Congress</h2>
        <span>Recognize someone in one of our hearing photos? Tag them now!</span>
        <a id="startBtn" class="replace" href="{% url hearing_list %}">Start Tagging</a>
    </div>
    <div class="clear"></div>
</div>

<div class="list_col-left">
    <h3>Help Now by Tagging the Recent Photos Below</h3>
    <ul>
        {% for hearing in latest_hearings.all %}
        <li class="module">
            <a href="{% url hearing_detail hearing.slug %}" class="image_previews">
                {% for photo in hearing.photos.all %}
                <span class="photo">
                    <img src="{% getsize photo 250 166 %}" width="250" height="166" alt="Photo of the audience at '{{ hearing.title }}'" />
                    {% if photo.credit %}<small class="photo-credit">Photo: {{ photo.credit|markdown|striptags }}</small>{% endif %}
                </span>
                {% endfor %}
            </a>
            <div class="photoDetails">
                <span class="hearing-date">{{ hearing.start_datetime|date:"n/j/y" }}</span>
                <span class="grid_names">
                    <a href="{% url hearing_detail hearing.slug %}">{{ hearing.title|truncatewords:7 }}</a>
                </span>
                <span><a href="{% url committee_detail hearing.committee.slug %}">{{ hearing.committee.name }}</a></span>
            </div>
            <div class="clear"></div>
        </li>
        {% endfor %}
    </ul>
    <span class="list_view-all"><a href="{% url hearing_list %}">View More Recent Photos &raquo;</a></span>
</div>

<div id="list_col-right">
    <h3>Most Appearances</h3>
    <ol class="list_columns">
        {% for leader in leaderboard %}
        <li><a href="{% url person_detail leader.slug %}">{{ leader.name }} {% templatetag openbrace %}{{ leader.num_tags }}{% templatetag closebrace %}</a>
            {% if leader.organization %}
            <span class="list_title">{{ leader.title }}, </span><span class="list_employer">{{ leader.organization }}</span>
            {% endif %}
        </li>
        {% endfor %}
    </ol>
    <span class="list_view-all"><a href="{% url leaderboard %}">View The Leaders &raquo;</a></span>
</div>
<div class="clear"></div>

{% endblock content %}

