{% extends "base.html" %}
{% load static photo_tags markup %}

{% block contentwrapid %}main_2col{% endblock %}
{% block contentid %}main_column-wrapper{% endblock %}
{% block contentclass %}float_2col{% endblock %}
{% block bodyclass %}home main{% endblock %}

{% block content %}
<div id="feature">
    <a href="{% url event_list %}"><img src="{% static "images/img_feature.jpg"  %}"/></a>
    <div id="featureOverlay">
        <h2 class="replace">Help us find out who's watching our Politicians</h2>
        <span>Recognize someone in one of our photos? Tag them now!</span>
        <a id="startBtn" class="replace" href="{% url event_list %}">Start Tagging</a>
    </div>
    <div class="clear"></div>
    <small class="photo-credit">Photo: <p>Rick Bloom, <a href="http://nationaljournal.com" rel="noindex nofollow" target="_blank">National Journal</a></p></small>
</div>

<div class="list_col-left">
    <h3>Help Now by Tagging the Recent Photos Below</h3>
    <ul>
        {% for event in latest_events %}
        <li class="module">
            <a
            {% if event.object_type == 'hearing' %}
            href="{% url hearing_detail event.slug %}"
            {% else %}
            href="{% url event_detail event.slug %}"
            {% endif %}
            class="image_previews">
                {% for photo in event.photos.all %}
                <span class="photo">
                    <img src="{% getsize photo 250 166 %}" width="250" height="166" alt="Photo of the audience at '{{ event.title }}'" />
                    {% if photo.credit %}<small class="photo-credit">Photo: {{ photo.credit|markdown|striptags }}</small>{% endif %}
                </span>
                {% endfor %}
            </a>
            <div class="photoDetails">
                <span class="hearing-date">{{ event.start_datetime|date:"n/j/y" }}</span>
                <span class="grid_names">
                    <a
                    {% if event.object_type == 'hearing' %}
                    href="{% url hearing_detail event.slug %}"
                    {% else %}
                    href="{% url event_detail event.slug %}"
                    {% endif %}
                    >{{ event.title|truncatewords:7 }}</a>
                </span>
                {% if event.committee %}
                <span><a href="{% url committee_detail event.committee.slug %}" class="cmte">{{ event.committee.name }}</a></span>
                {% elif event.parent_event %}
                <span><a href="{% url event_detail event.parent_event.slug %}" class="cmte">{{ event.parent_event.title }}</a></span>
                {% endif %}
            </div>
            <div class="clear"></div>
        </li>
        {% endfor %}
    </ul>
    <span class="list_view-all"><a href="{% url index %}?page=1">View More Photos &raquo;</a></span>
</div>

<div id="list_col-right">
    <h3>Most Appearances</h3>
    <ol class="list_columns">
        {% for leader in leaderboard %}
        <li><a href="{% url person_detail leader.slug %}">{{ leader.name }} {% templatetag openbrace %}{{ leader.num_tags }}{% templatetag closebrace %}</a>
            {% if leader.organization %}
            <span class="list_title">{{ leader.title }}, </span><span class="list_employer">{{ leader.organization }}</span>
            {% endif %}
        </li>
        {% endfor %}
    </ol>
    <span class="list_view-all"><a href="{% url leaderboard %}">View The Leaders &raquo;</a></span>
</div>
<div class="clear"></div>

{% endblock content %}

