Django==1.3
PIL
django-debug-toolbar
django-extensions
django-haystack
django-mediasync>=2.2.0
django-social-auth
gunicorn==0.12.0
markdown
psycopg2
python-dateutil==1.5
python-linkedin
requests
south
whoosh
# xapian-haystack
yql
git+https://github.com/sunlightlabs/python-transparencydata.git
git+https://github.com/dandrinkard/python-inboxinfluence.git
git+https://github.com/dandrinkard/python-crunchbase.git
git+https://github.com/liberation/django-jsonfield.git
