Django==1.3
PIL
django-debug-toolbar
django-extensions
django-mediasync>=2.2.0
django-social-auth
gunicorn==0.12.0
markdown
python-dateutil==1.5
python-linkedin
requests
south
yql
-e git+https://github.com/sunlightlabs/python-transparencydata.git#egg=python-transparencydata-dev
-e git+https://github.com/dandrinkard/python-inboxinfluence.git#egg=python_inboxinfluence-dev
-e git+https://github.com/dandrinkard/python-crunchbase.git#egg=python_crunchbase-dev
-e git+https://github.com/liberation/django-jsonfield.git#egg=jsonfield