{% extends "base.html" %}

{% block title %}{{ committee.name }} :: {{ block.super }}{% endblock %}

{% block content %}
<h2 id="h2_comm" class="h2_internal">{{ committee.name }}</h2>
<span id="h2_chamber" class="h2_internal">{{ committee.chamber_name }}</span>

<h3>Hearings</h3>
<ol>
{% for hearing in committee.hearings.published %}
    <li class="list_columns2">
        <h4 class="list_hearing"><a href="{% url hearing_detail hearing.slug %}" title="Hearing page">{{ hearing }}</a></h4>
        <span class="hearing-date">({{ hearing.start_datetime|date:"n/j/y" }})</span>
        <span>Tagged Appearances:</span>
        {% if hearing.annotated_names %}
        <ol class="bulleted">
            {% for name in hearing.annotated_names %}
            <li><a href="#">{{ name }}</a></li>
            {% endfor %}
        </ol>
        {% endif %}
    </li>
{% endfor %}
</ol>
{% endblock content %}