{% extends "base.html" %}
{% load markup one80_tags photo_tags markup %}

{% block title %}{{ hearing.title }} :: {{ block.super}}{% endblock %}

{% block contentid %}{% endblock %}
{% block content %}
    <div class="module">
        <h2 class="withTip">Images for <span id="hearing_indiv-name">{{ hearing.title }}</span></h2>
        <span>A hearing of the <a href="{% url committee_detail hearing.committee.slug %}">{{ hearing.committee.name }}</a></span>
    </div>
    {% if hearing.description %}
    <p>{{ hearing.description|linebreaks }}</p>
    {% endif %}

    <div id="photo_grid">
        <ol>
            {% for photo in hearing.photos.all %}
            <li>
                <a class="image_previews" href="{% url photo_detail hearing.slug photo.pk %}">
                <img src="{% getsize photo 243 161 %}" alt="a photo of the audience at {{ hearing.title }}" class="grid_thumbnails" />
                {% if photo.credit %}<small class="photo-credit">Photo: {{ photo.credit|markdown|striptags }}</small>{% endif %}
                </a>
                <span class="grid_tagged">Tagged: <span class="nmbr_tagged">{% templatetag openbrace %}{{ photo.annotations.published.count }}{% templatetag closebrace %}</span></span>
            </li>
            {% endfor %}
        </ol>
    </div>

{% endblock content %}