{% extends "base.html" %}
{% load markup one80_tags photo_tags %}

{% block title %}{{ hearing.title }} :: {{ block.super}}{% endblock %}

{% block contentid %}{% endblock %}
{% block content %}

    <h2 class="h2_internal">Images for <span id="hearing_indiv-name">{{ hearing.title }}</span></h2>
    <span id="h2_title" class="h2_internal">A hearing of the <a href="{% url committee_detail hearing.committee.slug %}">{{ hearing.committee.name }}</a></span>
    {% if hearing.description %}
    <p id="p_internal3">{{ hearing.description|linebreaks }}</p>
    {% endif %}

    <div id="photo_grid">
        <ol>
            {% for photo in hearing.photos.all %}
            <li>
                <a href="{% url photo_detail hearing.slug photo.pk %}">
                <img src="{% getsize photo 243 161 %}" alt="a photo of the audience at {{ hearing.title }}" class="grid_thumbnails" />
                <span class="grid_tagged">Tagged: <span class="nmbr_tagged">{% templatetag openbrace %}{{ photo.annotations|length }}{% templatetag closebrace %}</span></span>
                </a>
            </li>
            {% endfor %}
        </ol>
    </div>

{% endblock content %}