{% extends "base.html" %}
{% load one80_tags leaderboard_tags %}

{% block title %}Most Tagged :: {{ block.super }}{% endblock %}

{% block content %}
    <h2 class="h2_internal">Most Tagged</h2>

    <table>
        <thead>
            <tr>
                <th>Rank</th>
                <th>Person</th>
                <th>Appearances</th>
            </tr>
        </thead>
        <tbody>
            {% for leader in leaders %}
            {% with forloop.counter as i %}
            <tr class="{% cycle 'even' 'odd' %}">
                <td>{% unique_rank i %}</td>
                <td><a href="{% url person_detail leader.slug %}">
                    {{ leader.name }}
                    {% if leader.position %} -
                    <span class="position">{{ leader.position }}</span>
                    {% endif %}
                    </a>
                </td>
                <td>
                    {{ leader.num_tags }}
                </td>
            </tr>
            {% endwith %}
            {% endfor %}
        </tbody>
    </table>
{% endblock %}