{% extends "base.html" %}
{% load photo_tags %}

{% block css %}
    <style>

    </style>
{% endblock %}

{% block js %}
    <script src="/static/js/jquery-1.6.2.min.js"></script>
    <script>
        $().ready(function() {
            $('img').each(function() {
                var $img = $(this);
                var usemap = $img.attr('usemap');
                if (usemap) {
                    var $areas = $('map[name=' + usemap.substr(1) + '] area');
                    $areas.each(function() {
                        var $area = $(this);
                        var pos = $img.position();
                        var coords = $area.attr('coords').split(',');
                        coords = $.map(coords, function(val) { return parseInt(val); });
                        console.log(coords);
                        var $content = $('<div>')
                            .addClass('content')
                            .append('<span class="name">' + $area.attr('data-firstname') + ' ' + $area.attr('data-lastname') + '</span>')
                            .append('<span class="org">' + $area.attr('data-organization') + '</span>')
                        var $annot = $('<div>')
                            .addClass('annotation')
                            .css({
                                top: pos.top + coords[1],
                                left: pos.left + coords[0],
                                width: coords[2] - coords[0],
                                height: coords[3] - coords[1]
                            })
                            .append($content)
                            .bind('mouseover', function(ev) {
                                $content.show();
                            }).bind('mouseout', function() {
                                $content.hide();
                            }).bind('mousemove', function(ev) {
                                console.log(ev.pageX);
                                $content.css({
                                    'left': ev.pageX - (pos.left + coords[0]) + 40,
                                    'top': ev.pageY - (pos.top + coords[1]) + 10
                                })
                            });
                        $img.after($annot);
                    });
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    
    <div class="hearing-title{% if not hearing.is_public %} unpublished{% endif %}">
        <h2><a href="{% url hearing_detail hearing.slug %}">{{ hearing.title }}</a></h2> a hearing of the <span class="committee">{{ hearing.committee.name }}</span></p>
    </div>
    
    <div class="photo-viewer">
        <div class="container">
            <img src="{{ fullsize.image.url }}" class="full" usemap="#annotations">
            <map name="annotations">
                {% for annot in fullsize.annotations %}
                    <area shape="rect" coords="{{ annot.area }}" href="#" data-firstname="{{ annot.first_name }}" data-lastname="{{ annot.last_name }}" data-organization="{{ annot.organization }}" data-title="{{ annot.title }}">
                {% endfor %}
            </map>
            <p class="controls">
                <a href="#" class="add">Add annotation</a>
            </p>
        </div>
    </div>
    
    <div class="container">
        <div class="content">
            <h3>In this photo...</h3>
            <ul>
                {% for annot in fullsize.annotations %}
                    <li>
                        <span class="name">{{ annot.first_name }} {{ annot.last_name }}</span>
                        <span class="company">{% if annot.title %}{{ annot.title }}, {% endif %}{{ annot.organization }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="sidebar">
            <div class="photo-viewer-nav">
                {% if previous_photo %}
                    <a href="{% url photo_detail hearing.slug previous_photo.pk %}" class="previous" title="prevous hearing photo"><img src="{% getsize previous_photo 150 99 %}"></a>
                {% else %}
                    <div class="placeholder"></div>
                {% endif %}
                {% if next_photo %}
                    <a href="{% url photo_detail hearing.slug next_photo.pk %}" class="next" title="next hearing photo"><img src="{% getsize next_photo 150 99 %}"></a>
                {% else %}
                    <div class="placeholder"></div>
                {% endif %}
            </div>
        </div>
    </div>
    
{% endblock %}