{% extends "base.html" %}
{% load media photo_tags %}

{% block title %}{{ hearing.title }} :: {{ block.super }}{% endblock %}

{% block js %}
    <script>
        (function($, undefined){
            $(window).load(function(){
                $('img#img_gallery').each(function(){
                    var width = $(this).width();
                    $(this).annotateImage({
                        editable: {{ request.user.is_authenticated|lower }},
                        getUrl: 'annotations.json?size=' + width,
                        saveUrl: 'annotations.json?action=save&size=' + width,
                        deleteUrl: 'annotations.json?action=delete'
                    });
                });

                $('.image-annotate-view').click(function(evt){
                    if($(evt.target).is('.image-annotate-view')){
                        $('#image-annotate-add').trigger(evt);
                    }
                });

                $('#image-annotate-add').each(function(){
                    $('.image-annotate-view').css('cursor', 'pointer');
                }).click(function(evt){
                    setTimeout(function(){
                        $('#image-annotate-edit-form input.suggest-hint').trigger('create.suggest');
                    }, 100);
                })

                $('body').delegate('#image-annotate-edit-form input.suggest-hint', 'create.suggest', function(){
                    var field = $(this)
                    $(this).jsonSuggest({
                        url: '/people/suggest.json',
                        onSelect: function(item){
                            var fields = field.parents('form').find('input.required');
                            fields.filter('[name=first]').val(item.first);
                            fields.filter('[name=last]').val(item.last);
                            fields.filter('[name=title]').val(item['title']);
                            fields.filter('[name=org]').val(item.org);
                        },
                        maxHeight: 120 });
                });
                $('body').delegate('#image-annotate-edit-form input.required', 'keyup', function(evt){
                    var inputs = $(this).parents('form').find('input[type=text]'),
                        values = [],
                        suggestField = $(this).parents('form').find('input.suggest-hint').eq(0),
                        orig = suggestField.val();
                    $(inputs).each(function(){
                        if($(this).val()){
                            values.push($(this).val());
                        }
                    });
                    suggestField.val(values.join(' '));
                    if(evt.keyCode == 38 || evt.keyCode == 40 || evt.keyCode == 13){
                        suggestField.trigger(evt);
                    } else if(suggestField.val() != orig){
                        suggestField.trigger('keyup');
                    }
                });
            });
        })(jQuery);
    </script>
{% endblock %}

{% block contentid %}wrapper_img_gallery{% endblock %}
{% block contentclass %}wrapper-img-gallery{% endblock %}
{% block content %}
<div id="img_gallery_wrap">
    <div id="banner_gallery">
        <h2 class="withTip">{{ hearing.title }}</h2>
        <span>a hearing of the {{ hearing.committee.name}}</span>
    </div>
    <img id="img_gallery" src="{{ fullsize.image.url }}" alt="a photograph showing audience members of {{ hearing.title }}">
</div>
{% comment %}
{% if request.user.is_anonymous %}
<a href="{% url login %}" class="image-annotate-add">Login to tag this photo</a>
{% endif %}
{% endcomment %}
{% endblock content %}

{% block secondary %}
<div class="list_col-left">
    <h3>Appearing in this photo...</h3>
    <ol class="list_columns gallery_tagged">
        {% for annot in annotations %}
        <li><a href="{% if annot.person.slug %}{% url person_detail annot.person.slug %}{% else %}#{% endif %}" data-id={{ annot.id }}>{{ annot.name }}</a> {% annotation_buttons annot %}
            {% if annot.title %}
            <span class="list_title">{{ annot.title }},</span>
            <span class="list_employer">{{ annot.organization }}</span>
            {% else %}
            <div class="clear"></div>
            {% endif %}
        </li>
        {% empty %}
        <li>No tags yet. Little help?</li>
        {% endfor %}
    </ol>
    {# <span class="list_view-all"><a href="#">View All Appearances >></a></span> #}
</div>

<div id="list_col-right">
    <h3>All Photos in this Hearing</h3>
    <div id="carousel_wrapper" class="box">
        <a id="arrow_prev" class="replace" href="#" title="previous">previous</a>
        <ol class="clearfix">
            {% for thumb in hearing.photos.all %}
            <li class="{% if photo.pk == thumb.pk %}current{% endif %}">
                <a href="{% url photo_detail hearing.slug thumb.pk %}" title="hearing page">
                    <img class="tagged_thumbnails-hrz" src="{% getsize thumb 147 88 %}" alt="a small photo of a recent hearing that shows the audience members" />
                    <span class="recent_hearings">{{ thumb.name }}</span>
                </a>
                <span class="hearing-tags">{% templatetag openbrace %} {{ thumb.annotations.published.count }} tag{{ thumb.annotations.published.count|pluralize }} {% templatetag closebrace %}</span>
            </li>
            {% endfor %}
        </ol>
        <a id="arrow_fw" class="replace" href="#" title="forward">forward</a>
        <div class="clear"></div>
    </div>
</div>
<div class="clear"></div>
{% endblock secondary %}