{% extends "base.html" %}
{% load media photo_tags %}

{% block title %}{{ hearing.title }} :: {{ block.super }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{% media_url 'css/annotation.css' %}" type="text/css"></link>
{% endblock %}

{% block js %}
    <script>
        (function($, undefined){
            $(window).load(function(){
                $('img#img_gallery').each(function(){
                    var width = $(this).width();
                    $(this).annotateImage({
                        editable: {{ request.user.is_authenticated|lower }},
                        getUrl: 'annotations.json?size=' + width,
                        saveUrl: 'annotations.json?action=save&size=' + width,
                        deleteUrl: 'annotations.json?action=delete'
                    });
                });
            });
        })(jQuery);
    </script>
{% endblock %}

{% block contentwrapid %}main_1col{% endblock %}
{% block contentid %}wrapper_img_gallery{% endblock %}
{% block contentclass %}{% endblock %}
{% block content %}
<div id="banner_gallery" role="banner">

    <!-- #h2_hearing and #span_hearing must be generated to match the photograph -->

    <h2 id="h2_hearing">{{ hearing.title }}</h2>
    <!-- <a href="{% url hearing_detail hearing.slug %}"> --><span id="span_hearing" class="h2_sub">a hearing of the {{ hearing.committee.name}}</span><!-- </a> -->
</div>
<img id="img_gallery" src="{{ fullsize.image.url }}" alt="a photograph showing audience members of {{ hearing.title }}">
<a href="#" id="image_annotate-add" class="replace">Tag This Photo!</a>
{% endblock content %}

{% block secondary %}
<section class="list_col-left">
    <h3>Appearing in this photo...</h3>
    <ol id="img_gallery_tagged" class="list_columns tagged">
        {% for annot in annotations %}
        <li><a href="{{ annot.url }}" data-id={{ annot.id }}>{{ annot }}</a> {% annotation_buttons annot %}
            <span class="list_title">{{ annot.title }}, </span><span class="list_employer">{{ annot.organization }}</span>
        </li>
        {% empty %}
        <li>No tags yet. Little help?</li>
        {% endfor %}
    </ol>
    {# <span class="list_view-all"><a href="#">View All Appearances >></a></span> #}
</section>

<section id="carousel_gallery" role="complementary">
    <h3>More Photos in this Hearing</h3>
    <div id="carousel_wrapper" class="box">
        {% if previous_photo %}
        <a id="arrow_prev" class="replace" href="{% url photo_detail hearing.slug previous_photo.pk %}" title="previous">previous</a>
        {% else %}
        <a href="#" id="arrow_prev" class="none"></a>
        {% endif %}
        <ol>
            {% if previous_photo %}
            <li>
                <a href="{% url photo_detail hearing.slug previous_photo.pk %}" title="hearing page">
                    <img class="tagged_thumbnails-hrz" src="{% getsize previous_photo 147 88 %}" alt="a small photo of a recent hearing that shows the audience members" />
                    <span class="recent_hearings">Previous photo</span>
                </a>
                <span class="hearing-tags">({{ previous_photo.annotations.published.count }} people identified)</span>
            </li>
            {% else %}
            <li>
                <img class="tagged_thumbnails-hrz" src="{% media_url %}/images/no_photo_thumb.jpg" alt="no photo to show" />
                <span class="recent_hearings"><a href="#" title="hearing page">You are at the first photo</a></span>
            </li>
            {% endif %}
            {% if next_photo %}
            <li>
                <a href="{% url photo_detail hearing.slug next_photo.pk %}" class="recent_hearings" title="hearing page">
                    <img class="tagged_thumbnails-hrz" src="{% getsize next_photo 147 88 %}" alt="a small photo of a recent hearing that shows the audience members" />
                    <span class="recent_hearings">Next Photo</span>
                </a>
                <span class="hearing-date">({{ next_photo.annotations.published.count }} people identified)</span>
            </li>
            {% else %}
            <li>
                <img class="tagged_thumbnails-hrz" src="{% media_url %}/images/no_photo_thumb.jpg" alt="no photo to show" />
                <span class="recent_hearings"><a href="#" title="hearing page">You are at the last photo</a></span>
            </li>
            {% endif %}
        </ol>
        {% if next_photo %}
        <a id="arrow_fw" class="replace" href="{% url photo_detail hearing.slug next_photo.pk %}" title="forward">forward</a>
        {% else %}
        <a href="#" id="arrow_fw" class="none"></a>
        {% endif %}
        <div class="clear"></div>
    </div>
</section>
<div class="clear"></div>
{% endblock secondary %}