/* HTML5 ✰ Boilerplate */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font-size: 13px; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; }
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #456f74; color: #e5e2db; text-shadow: none; }
::selection { background:#456f74; color: #e5e2db; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #456f74; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.main a:link, .list_columns a:link, .tagged_names a:link, .tables a:link {text-decoration: none; outline: none; color: #456f74;}
.list_view-all a:link, .tagged_hearings a:link, .bulleted a:link, .hearing-date a:link, .hearing-tags a:link, .committee-sm a:link, .grid_sub a:link {color: #456f74; color: rgba(69,111,116,0.65); text-decoration: none;}
.main a:visited {color: #456f74;}
.list_columns a:hover, .tagged_names a:hover, .recent_hearings a:hover, .list_hearing a:hover, .tables a:hover, .rid_names a:hover, .list_committee a:hover {color: #ee603d; border-bottom: 1px dotted rgba(238,96,61,0.5); border-bottom-color:#ff603d; border-bottom-color:rgba(238,96,61,0.5);}
.list_view-all a:hover, .tagged_hearings a:hover, .bulleted a:hover, .hearing-date a:hover, .hearing-tags a:hover, .grid_sub a:hover {color: #456F74; border-bottom: none;}
#header_nav a:focus, .main a:focus, footer a:focus, button:focus {background-color: #000; background-color: rgba(0,0,0,0.02);outline: 1px dotted rgba(0,0,0,0.25);}

.clear { clear: both; }

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.replace { text-indent: -9999em; display: block; }
.none { background:none !important; }
p { margin-bottom: 1.5em;}


.messages { margin-bottom: 20px; }

.messages li {
    color: #444;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 5px 10px;
}

.messages .error, .messages .warning {
    border: 2px solid #c73924;
    background-color: #f9bd98;
}

.messages .success {
    border: 2px solid #beca05;
    background-color: #eff4e7;
}

ol, ul {
    list-style-type: none;
    margin-left: 0;
}

body {
    color: #9C998F;
    background: #33383a;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 17px;
}

#content { background-color: #fff; margin: 0 auto; padding: 30px 30px 0; width: 890px; -moz-border-radius: 5px; -webkit-border-radius: 5px;}
.list_col-left { width: 360px; margin-right: 30px; float: left; margin-top: 40px;}
#list_col-right { width: 500px; float: left; margin-top: 40px; }

.module { margin-bottom: 30px;}

/* headers */

h2 { color: #403D3C; font-family: "futura-pt", "Helvetica", Arial, sans-serif; font-size: 260%; margin-bottom: 25px; line-height: 35px;}
h3 { color: #403D3C; font-family: "futura-pt", "Helvetica", Arial, sans-serif; font-size: 170%; font-weight: 500; margin-bottom: 25px; line-height: 25px;}
h4 { font-size: 140%; font-weight: bold; margin-bottom: 15px; line-height: 23px; }
h5 { font-size: 120%; text-transform: uppercase; font-weight: bold; margin-bottom: 10px;}

.withTip { margin-bottom: 10px;}

/*header*/

#banner_logo { width: 126px; height: 38px; background: url('../images/logo_sunlight.png') top right no-repeat; float: right;}

header { margin: 0 auto; background: url(../images/bg_header.jpg) center top no-repeat; width: 890px; padding: 7px 40px; height: 153px;}
h1 { padding: 35px 0 0 0; float: left; width: 337px; height: 68px;}
h1 a {  background: url('../images/logo.png') top left no-repeat; width: 337px; height: 68px; }

#header_nav { width: 450px; padding: 35px 0 0 0; float: right; }
#header_nav li { float: right; }

#button_search { background: url('../images/btn_go.png') top left no-repeat; width: 62px; height: 28px; border: none; float: right;}
#button_search:hover { background: url('../images/btn_go.png') bottom left no-repeat;}
#input_search { width: 175px; font-size: 14px; margin: 1px 0 0 0; padding: 4px 5px 5px; float: left; background-color: #fff;}
#form_search-site { width: 260px; margin: 20px 0 0 0; float:right; }
#form_search-site label { display: none; }

#subnav .list_nav { margin: 0 auto; width: 150px;}
.list_nav li { font-family: "futura-pt", "Helvetica", Arial, sans-serif; font-size: 14px; font-weight: 500; padding: 0 10px; border-right: 1px dotted #A3948F; }
#link_signup, #link_account, #link_contact { border-right: none; }

#link_account a { width: 21px; height: 21px; background: url('../images/sprite_account.png') top left no-repeat; margin: -3px 0 0 0; }
#link_account a:hover { width: 21px; height: 21px; background: url('../images/sprite_account.png') bottom left no-repeat; }

/* home page */
#feature { margin-bottom: 10px;}
#content #feature img { float: left; padding: 0; border: none;}
#feature span { font-size: 120%; color: #fff; line-height: 24px;}
#feature h2 { background: url(../images/title_homeFeature.png) top left no-repeat; width: 230px; height: 144px;}
#featureOverlay { position: absolute; padding: 60px 30px; width: 250px; }

.list_col-wrapper { width: 265px; padding: 0 15px; margin: 20px 0 0 0; float: left; }
.list_col-wrapper h3 { border-bottom: 1px dashed #D4CFCB; padding-bottom: 4px;}

.list_columns a { font-size: 15px; line-height: 18px; display: block; }
.wrapper-img-gallery .list_columns a {float:left;}
.wrapper-img-gallery .list_columns span.list_title,
.wrapper-img-galelry .list_columns span.list_employer {display:block;clear:left;}
.list_columns li { margin-bottom: 20px; }

#startBtn { background: url(../images/btn_start.png) top left no-repeat; width: 235px; height: 53px; margin-top: 20px;}
#startBtn:hover { background: url(../images/btn_start.png) bottom left no-repeat; }


/*  Other Pages  */

.moduleSearch { margin-bottom: 60px; }

#photo_grid li {
    width: 251px;
    margin: 0 40px 40px 0;
    float: left;
}
.grid_names {
    font-weight: 500;
    padding-bottom: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#content img { padding: 3px; border: 1px solid #D4CFCB;}

.bulleted li {
    color: #456F74;
    margin: 5px 0 0 20px;
    list-style-type: disc;
    margin-bottom: 5px;
}

#banner_gallery {
    width: 872px;
    background-color: #000;
    background-color: rgba(0,0,0,0.45);
    color: #EFECE6;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 15px 0 10px 10px;
    position: absolute;
    z-index: 5;
}
#banner_gallery h2 { color: #EFECE6; }

#img_gallery_wrap{
    position:relative;
    padding:3px; border:1px solid #D4CFCB;
}
#img_gallery,
#content #img_gallery {
    width: 882px;
    padding: 0;
    margin: 0;
    border: none;
}

#carousel_wrapper li, #carousel_wrapper2 li {
    width: 155px;
    float: left;
    text-align:center;
}

#carousel_wrapper, #carousel_wrapper2 {
    margin: 18px 0 0 0;
    padding: 15px 30px;
    text-align: center;
    position: relative;
    background-color: #33383A;
}

#carousel_wrapper li, #carousel_wrapper2 li {
    background-color: #fff;
    padding: 10px;
    margin-right: 10px;
    width: 155px;
    float: left;
    text-align: center;
    -moz-border-radius: 5px; -webkit-border-radius: 5px;
    border-radius: 5px;
}

#carousel_wrapper li.current { background-color: #b3b6b7;}

#arrow_prev, #arrow_fw {
    width: 24px;
    height: 38px;
    display: block;
    position: absolute;
    top: 40%;
}

#arrow_prev { background: url('../images/arrow_lt.jpg') top left no-repeat; left: 0;}
#arrow_prev:hover { background: url('../images/arrow_lt.jpg') left -38px no-repeat; }
#arrow_prev.disabled { background: url('../images/arrow_lt.jpg') left -76px no-repeat;}

#arrow_fw {  background: url('../images/arrow_rt.jpg') top left no-repeat; right: -2px;}
#arrow_fw:hover { background: url('../images/arrow_rt.jpg') left -38px no-repeat; }
#arrow_fw.disabled { background: url('../images/arrow_rt.jpg') left -76px no-repeat; }

#carousel_wrapper span {
    margin-top: 3px;
    display: block;
}

#list_2up li { margin-bottom: 40px; }

#signUp li {
    width: 194px;
    margin: 20px 30px 0 0;
    padding: 15px;
    float: left;
    border: 1px dashed #D4CFCB;
    font-size: 115%;
    background-color: #faf9f6;
}
#signUp li:hover { background-color: #f6f5f2; }

#signUp li a { padding-left: 23px;}
#facebook { background: url('../images/social_sprites.png') left -187px no-repeat; }
#signUp li:hover #facebook { background: url('../images/social_sprites.png') left -51px no-repeat; }
#twitter {  background: url('../images/social_sprites.png') left -102px no-repeat; }
#signUp li:hover #twitter {  background: url('../images/social_sprites.png') left top no-repeat; }
#google { background: url('../images/sprite_googlePlus.png') left -16px no-repeat; }
#signUp li:hover #google { background: url('../images/sprite_googlePlus.png') top left no-repeat; }
#yahoo { background: url('../images/sprite_yahoo.png') left -16px no-repeat;}
#signUp li:hover #yahoo { background: url('../images/sprite_yahoo.png') left top no-repeat;}

.grid_names, .grid_tagged {
    width: 245px;
    font-family: "futura-pt", "Helvetica", Arial, sans-serif;
    font-size: 18px;
    margin: 5px 0 7px;
    display: block;
}

.logged-in #image-annotate-add {
    width: 161px;
    height: 31px;
    text-indent:-9999px;
    background: url('../images/tag-this-photo.png') top left no-repeat;
    position: absolute;
    z-index: 5;
    bottom: 60px;
    left: -15px;
    display: block;
}


/* tables */

table { width: 100%; }
th {
    font-size: 120%;
    padding: 5px 0 15px 13px;
    text-align: left;
    color: #403D3C;
    border-bottom: 1px dashed #D4CFCB;
}

td {
    padding: 12px 0 12px 13px;
    border-left: 1px dashed #D4CFCB;
}
.odd { background-color: #f6f5f2;}

table td:first-of-type { border-left: none; }

#button_update {
    background: url('../images/btn_update.png') top left no-repeat;
    width: 132px;
    height: 53px;
    border: none;
}

#button_update:hover { background: url('../images/btn_update.png') bottom left no-repeat;}


/* forms  */

input, textarea {
    font-weight: 500;
    padding: 10px;
    background-color: #f6f5f2;
    border: 1px dotted rgba(163,148,143,0.75);
    border-color:#A3948F;
    border-color:rgba(163,148,143,0.75);
    font-size: 100%;
    width: 300px;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #A3948F; }
input:-moz-placeholder, textarea:-moz-placeholder { color: #A3948F; }
#content form li { margin-bottom: 25px; }
label { display:block; margin-bottom: 10px; }
#form_contact textarea {  width:400px;  height:150px; }

.submit-button { background: url(../images/btn_submitLg.png) top left no-repeat; width: 132px; height: 53px; border: none;}
.submit-button:hover { background: url(../images/btn_submitLg.png) bottom left no-repeat; }


/* footer */
footer { margin: 0 auto; width: 950px; padding: 0 5px; }
#sunlight-footer {  color: #D2D1C9; font-size: 95%; line-height: 16px; margin: 40px 0;  }

#sunlight-footer a { color: #C3C0BB; border-bottom: 1px dotted #C3C0BB; padding: 0 1px; }
#sunlight-footer a:hover { color: #EFECE6; }

#input_email { width: 185px; margin-bottom: 10px; }
#input_zip { width: 113px; margin: 1px 12px 0 0;  float: left; }
#input_email, #input_zip { font-size: 11px; padding: 3px 5px 5px; }

#logo_footer:link { width: 151px; height: 46px; background: url('../images/logo_sunlight-dkbg.png') top left no-repeat; margin: 0 20px 15px 0; float: left; border-bottom: none;}

#subnav {
    padding: 11px 25px 27px;
    border-top: 1px dashed #D4CFCB;
    margin-top: 60px;
}
#subnav li { float: left; }
#subnav li:first-of-type { padding: 0 15px 0 0; }
.social { float:right; margin-bottom: 15px; margin-top: -10px;}
.social * { float: right;}

#subnav .social span { padding:0; }

#sunlight-products {
    color: #403D3C;
    height: 74px;
    margin: 10px auto;
    padding: 5px 25px;
    background-color: #efeeeb;
    -moz-border-radius: 5px; -webkit-border-radius: 5px;
    border-radius: 5px;
}

#badge {
    width: 71px;
    height: 71px;
    background: url('../images/sunlight-badge.png') top left no-repeat;
    margin-right: 15px;
    float: left;
}

#products-action { padding: 18px 0 0; float: left; }
#form_join { width: 203px; float: right; margin-top: 10px;}

#form_join label { display: none;  }

#button_join {
    width: 61px;
    height: 23px;
    background: url('../images/btn_submitSmSm.png') top left no-repeat;
    border: none;
    margin-top: 1px;
}
#button_join:hover { background: url('../images/btn_submitSmSm.png') bottom left no-repeat; }





#wrapper_img_gallery {
    width: 902px;
    height: 539px;
    margin: 0 0 16px 0;
    border: 4px solid #000;
    position:relative;
}

#img_gallery_tagged a.delete, #img_gallery_tagged a.approve {
    display:inline-block;
    *display:block;
    zoom:1;
    width:16px;
    height:16px;
    background: transparent url('../images/check-mark.png') no-repeat 0 0;
}

#img_gallery_tagged a.delete {
    background-image: url('../images/x-mark.png');
}

.img_caption {
    background: url('../images/bgimg_home-figcap.png') top left no-repeat;
    color: #403D3C;
    font-family: "Museo", Georgia, "Times New Roman", serif;
    font-size: 13px;
    font-style: italic;
    font-weight: 300;
    padding: 9px 0 13px 0;
}

.list_columns2, .list_columns3 {
    padding: 0 0 1px 8px;
    margin-bottom: 20px;
    border-left: 1px solid rgba(69,111,116,0.5);
    border-left-color:#456F74;
    border-left-color:rgba(69,111,116,0.5);
    line-height: 18px;
}

.list_columns2 span, .list_columns3 span {
    font-size: 15px;
}

.list_columns3 span:first-of-type {
    font-size: 18px;
}

.tagged_thumbnails, .tagged_thumbnails-hrz, .tagged_thumbnails-md {
    border: 4px solid #000;
}

.tagged_thumbnails {
    width: 82px;
/*    height: 82px;*/
    margin: 10px 0 3px 0;
}

.tagged_thumbnails-hrz {
    width: 147px;
    height: 88px;
}

.tagged_thumbnails-md {
    width: auto;
    height: 100px;
}

.tagged_names a {
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
}

.tagged_titles {
    margin: 0 0 1px 0;
    display: block;
}

.tagged_employers {
    font-style: italic;
    margin: 0 0 2px 0;
    display: block;
}

.tagged_hearings a {
    font-size: 12px;
    font-style: italic;
    margin: 0 0 30px 0;
}

.recent_hearings a {
    font-family: "futura-pt", "Helvetica", Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    padding-bottom: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.recent_hearings a:hover {
    padding: 0;
}

.tagged_hearings a, .recent_hearings a {
    display: block;
}

li.current .tagged_thumbnails-hrz {
    border-color:#456f74;
}

.nmbr_results {
    color: #A3948F;
    font-weight: 300;
    margin-left: 5px;
}

.col_sort {
    background: url('../images/sort_arrows.png') 5px 8px no-repeat;
}

.col_sort-push {
    padding-left: 8px;
}




/* Flatpage styles */
#flatpage h1, #flatpage h2, #flatpage h3, #flatpage h4, #flatpage h5, #flatpage h6 #flatpage ul, #flatpage ol, #flatpage p, #flatpage blockquote, #flatpage pre, #flatpage form, #flatpage fieldset, #flatpage table, #flatpage header, #flatpage footer {
    margin: 0 0 1em;
    padding:0;
    width:auto;
    line-height:1.4em;
}
#flatpage h1, #flatpage h2, #flatpage h3, #flatpage h4, #flatpage h5, #flatpage h6 {
    margin-bottom: 10px;
    font-family: "futura-pt", "Helvetica", Arial, sans-serif;
    display:block;
    float:none;
}

#flatpage h1 {
    font-size:33px;
}
#flatpage h2 {
    color: #473F3D;
    font-size:29px;
    text-transform:none;
}
#flatpage h3{
    font-size:18px;
}

#flatpage p, #flatpage ul, #flatpage ol {
    font-size:14px;
    color:#555;
}
#flatpage ul, #flatpage ol {
    margin-left:1em;
    list-style:outside disc;
}
#flatpage ol {
    list-style-type: decimal;
}
#flatpage li {
    margin-left:1em;
    margin-bottom:0.5em;
}
#flatpage blockquote {
    border-left: 1px solid rgba(69,111,116,0.5);
    border-left-color: #456F74;
    border-left-color: rgba(69,111,116,0.5);
    margin-left: 1em;
    padding-left: 1em;
}
#flatpage blockquote p {
    font-family: "Helvetica", Arial, sans-serif;
    color:#9c998f;
}
#flatpage em {
    font-style:italic;
}
